# Flutter
build/
.dart_tool/
.pub/

# Visual Studio
.vs/
*.sln
*.suo
*.vcxproj
*.vcxproj.filters

# Windows
Thumbs.db

# macOS
.DS_Store

# Android
android/local.properties
android/.gradle/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/